.account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 3em;
}

.account-small-container {
  display: flex;
  flex-direction: column;
}

.myaccount {
  margin-bottom: 1em;
  font-size: 25px;
}

.data {
  margin-bottom: 1em;
}
.my-order {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
