@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.NavBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  background-color: #f15152;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  justify-content: space-around;
}

.siteTitle {
  margin-left: 1em;
}
.link {
  color: black;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 16px;
}
